body{
    background-color: rgba(1, 1, 19,0.2);
    background-image: url('../css/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    font-family: 'Courier New', Courier, monospace;
}
#banner{
    font-weight: bold;
    font-size: 2.5em;
}
.intro{

    color:rgb(214, 207, 207);
    font-weight: bold;
    float:center;
    padding: 50px;
    text-align: center;
}
#one{
    float: left;
    padding-bottom: 10px;
    border-radius: 200000px;
}
.two{
    color:rgb(214, 207, 207);
    text-align: center;
    font-size:1.2em;
}
.me{
    padding-bottom: 150px;
}
nav>ul{
    text-align: left;
}
nav>ul>li{
    display: inline-block;
}
nav>ul>li>a{
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    margin-bottom: 30px;
    color: green;
}
nav>ul>li>a:hover{
    box-shadow: rgba(197, 35, 62,0.75);
    border-bottom:2px solid rgba(224, 218, 218, 0.7);
}

.links>a{
    font-weight: bold;
    text-decoration: none;
    color: wheat;
}
.links>a:hover{
    color: green;
}
