body{
    background-color: rgba(1, 1, 19,0.2);
    background-image: url('/css/bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    font-family: 'Courier New', Courier, monospace;

}